<div class='event'>
  <div class='content'>
    <h3><%= @event.title %></h3>
  <h5><%= @event.location %></h5>
  <%= @event.date.strftime("on %m/%d at %I:%M%p") %> - Just <%= minutes_in_words(@event.date) %> left to purchase tickects!
  <p><%= @event.description %></p>

  <%= @event.tix_left %> tickets still available,

  <form action='/events/buytix'>
   <button type='submit' name='event' value='<%= @event.id %>' >Purchase Tickets</button>
  </form>
  </div>
</div>
